# Dockerfile .env template
# Rename this file and remove the .template extension to use with your Dockerfile

# More reading available below:
# https://docs.docker.com/compose/env-file/
# https://hexdocs.pm/dotenvy/dotenv-file-format.html
# https://github.com/bkeepers/dotenv

GITHUB_USERNAME=
TZ=America/Los_Angeles
NODE_ENV=development
RUNNING_IN_DOCKER=true
host=localhost
port=3000